# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_copy

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# Flutter/Dart related
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Flutter.podspec
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.[mh]
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will convert this to an Android Project
/android/key.properties
*.jks
*.keystore
*.pk8
*.p12
*-remote
*.p12

# Exceptions to above rules
!**/ios/Runner/AppDelegate.m
!**/ios/Runner/AppDelegate.swift
!**/ios/Runner/main.m
